*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
input{
    outline: none;
    border: none;
}
button{
    outline: none;
    border: none;
}
a{
    text-decoration: none;
    color: gray;
}

a:visited{
    color: gray;
}
a:hover{
    color: purple;
}
.container {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100vh; /*vh view height port*/
    background-color: purple;
}
.login-box{
    background-color: white;
    width: 40%;
    max-width: 400px;
    height: 500px;
    margin: auto;
    box-shadow: 10px 20px 20px 5px rgba(0,0,0,0.2);
}
.title-box {
    background: #4f4487;
    height: 100px;
    position: relative;
    display: flex;
    align-items: center;
    padding: 10px 20px;
}
.title-box > h2{
    color: white;
    font-size: 30px;   
}
.title-box > button {
    width: 50px;
    height: 50px;
    background-color: #b485d8;
    border-radius: 50%;
    padding: 8px;
    right: 0;
    bottom: 0;
    position: absolute;
    margin: -25px 8px;
    color: white;
    box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.2);
}
.body-box{
    padding: 20px;
    height: auto;
}
.field {
    display: flex;
    align-items: center;
    color: #b485d8;
    border-bottom: 1px solid gray;
    margin-top: 16px;
}
.field > input {
    width: 80%;
    height: 40px;
    font-weight: 100;
    font-size: 20px;
    padding-left: 10px;
}
.group-buttons {
    height: 100px;
    padding: 8px;
    margin: 16px auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 200px;
}
.btn {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-size: 30px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
#btn-facebook {
    background-color: #3c5899;
}
#btn-github {
    background-color: black;
    font-size: 40px;
}
#btn-twitter {
    background-color: #55acee;
}
#btn-signin {
    width: 100%;
    height: 40px;
    background-color: #b485d8;
    color: white;
    border-radius: 5px;
    font-weight: bold;
    
}
.container-forgot {
    text-align: center;
    font-size: 11px;
    margin: 17px;
}

